@font-face {
    font-family: "04Font";
    src: url("./public/04B_03__.ttf") format("truetype");
}

/* Background */
body {
    text-align: center;
    background-color: #282c34;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 24px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0d556b;
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #297a92;
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
  }

.landing {
    position: fixed;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    clip-path: circle(120px at center);
    animation: dissolve 0.5s ease-in paused 1 forwards;
}

.landing:hover {
    /* animation: bob 1s ease-in-out infinite alternate; */
    cursor: pointer;
}

@keyframes dissolve {
    100% {clip-path: circle(0px at center);}
}

@keyframes bob {
    100% {transform: translateY(5px);}
}

#main {
    font-family: "04Font";
    display: flex;
    width: 100vw;
    height: 90vh;
    left: 0px;
    opacity: 0;
    animation: fade-in 0.5s ease-in paused 1 forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

footer {
    width: 100vw;
    height: 10vh;
    top: 90vh;
    position: fixed;
}

#logos {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    font-size: 50px;
    color: orange;
    margin: 10px;
    transition: all 0.5s;
}

#icon:hover {
    color: rgb(255, 208, 0);
}
/* Left Side */

#left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-side p {
    color: white;
}

#left-side h1 {
    color: Orange;
}

#about-me {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

#name-section {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.resume-btn {
    color: orange;
    margin-top: 40px;
    width: 96px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    /* border-radius: 4px; */
    /* border: 1px solid orange; */
    transition: all 0.5s;
    text-decoration: none;
}

/* Pixel Art Border */
.btn-border {
    width: 2px;
    height: 2px;
    background: orange;

    box-shadow:
        /* Left Border */
        -2px -2px orange,
        -2px -4px orange,
        -2px -6px orange,
        -2px -8px orange,
        -2px -10px orange,
        -2px -12px orange,
        -2px -14px orange,
        -2px -16px orange,
        -2px -18px orange,
        -2px -20px orange,
        -2px -22px orange,
        -2px -24px orange,
        -2px -26px orange,
        -2px -28px orange,
        -2px -30px orange,
        -2px -32px orange,

        /* Right Border */
        96px -2px orange,
        96px -4px orange,
        96px -6px orange,
        96px -8px orange,
        96px -10px orange,
        96px -12px orange,
        96px -14px orange,
        96px -16px orange,
        96px -18px orange,
        96px -20px orange,
        96px -22px orange,
        96px -24px orange,
        96px -26px orange,
        96px -28px orange,
        96px -30px orange,
        96px -32px orange,

        /* Bottom Border */
        2px 0px orange,
        4px 0px orange,
        6px 0px orange,
        8px 0px orange,
        10px 0px orange,
        12px 0px orange,
        14px 0px orange,
        16px 0px orange,
        18px 0px orange,
        20px 0px orange,
        22px 0px orange,
        24px 0px orange,
        26px 0px orange,
        28px 0px orange,
        30px 0px orange,
        32px 0px orange,
        34px 0px orange,
        36px 0px orange,
        38px 0px orange,
        40px 0px orange,
        42px 0px orange,
        44px 0px orange,
        46px 0px orange,
        48px 0px orange,
        50px 0px orange,
        52px 0px orange,
        54px 0px orange,
        56px 0px orange,
        58px 0px orange,
        60px 0px orange,
        62px 0px orange,
        64px 0px orange,
        66px 0px orange,
        68px 0px orange,
        70px 0px orange,
        72px 0px orange,
        74px 0px orange,
        76px 0px orange,
        78px 0px orange,
        80px 0px orange,
        82px 0px orange,
        84px 0px orange,
        86px 0px orange,
        88px 0px orange,
        90px 0px orange,
        92px 0px orange,
        94px 0px orange,

        /* Top Border */
        0px -34px orange,
        2px -34px orange,
        4px -34px orange,
        6px -34px orange,
        8px -34px orange,
        10px -34px orange,
        12px -34px orange,
        14px -34px orange,
        16px -34px orange,
        18px -34px orange,
        20px -34px orange,
        22px -34px orange,
        24px -34px orange,
        26px -34px orange,
        28px -34px orange,
        30px -34px orange,
        32px -34px orange,
        34px -34px orange,
        36px -34px orange,
        38px -34px orange,
        40px -34px orange,
        42px -34px orange,
        44px -34px orange,
        46px -34px orange,
        48px -34px orange,
        50px -34px orange,
        52px -34px orange,
        54px -34px orange,
        56px -34px orange,
        58px -34px orange,
        60px -34px orange,
        62px -34px orange,
        64px -34px orange,
        66px -34px orange,
        68px -34px orange,
        70px -34px orange,
        72px -34px orange,
        74px -34px orange,
        76px -34px orange,
        78px -34px orange,
        80px -34px orange,
        82px -34px orange,
        84px -34px orange,
        86px -34px orange,
        88px -34px orange,
        90px -34px orange,
        92px -34px orange,
        94px -34px orange;
}

.resume-btn:hover {
    color: #282c34;
    background-color: orange;
}

/* Middle */

#middle {
    margin: 4vh 0 0 4vh;
    width: 1px;
    height: 82vh;
    background-color: orange;
}

/* Right Side */

#right-side {
    width: 50%;
    margin: 2%;
    margin-left: 0;
}

#project-container {
    color: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    /* position: fixed; */
}

.bottom-space {
    height: 3vw;
}

.project {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 13vw;
    margin-left: 5%;
    transition: all 0.5s;
    opacity: 0.5;
}

.project a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.project a img {
    width: 18vw;
    height: 12vw;
    transition: all 0.5s;
    object-fit: cover;
}

.divider-line {
    height: 1px;
    width: 18vw;
    transition: all 0.5s;
    background-color: orange;
    margin: 8px 0;
}

.project-description {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 1vw;
    align-self: center;
}

/* Project Hover */

.project:hover {
    opacity: 1;
    height: 15vw;
}

.project:hover a img {
    width: 21vw;
    height: 14vw;
}

.project:hover .divider-line {
    width: 15vw;
}

