/* Background */
body {
    text-align: center;
    background-color: #282c34;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.landing {
    position: fixed;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    clip-path: circle(120px at center);
    animation: dissolve 0.5s ease-in paused 1 forwards;
    color: #247435;
}

@keyframes dissolve {
    100% {clip-path: circle(0px at center);}
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: -16px;
    left: 0px;
    opacity: 0;
    animation: fade-in 0.5s ease-in paused 1 forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

/* Left Side */

#left-side {
    width: 49%;
}

#left-side p {
    color: white;
}

#left-side h1 {
    color: Orange;
}

/* Middle */

#middle {
    margin: 1%;
    width: 1px;
    background-color: orange;
}

/* Right Side */

#right-side {
    width: 45%;
    margin: 2%;
}

#project-container {
    color: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: fixed;
}

.project {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 13vw;
    transition: all 0.5s;
    opacity: 0.5;
}

.project:hover {
    opacity: 1;
    height: 15vw;
}

.project:hover a img {
    width: 21vw;
    height: 14vw;
}

.project a img {
    width: 18vw;
    height: 12vw;
    transition: all 0.5s;
    object-fit: cover;
}

.divider-line {
    height: 1px;
    width: 18vw;
    background-color: orange;
    margin: 8px 0;
}

.project-description {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 1vw;
    align-self: center;
}