/* Background */
body {
    text-align: center;
    background-color: #282c34;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.landing {
    position: fixed;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    clip-path: circle(120px at center);
    animation: dissolve 0.5s ease-in paused 1 forwards;
    color: #247435;
}

@keyframes dissolve {
    100% {clip-path: circle(0px at center);}
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: -16px;
    left: 0px;
    background: rgba(255, 255, 255, 0.432);
    opacity: 0;
    animation: fade-in 0.5s ease-in paused 1 forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

/* Left Side */

#left-side {
    width: 45%;
    background: rgba(89, 178, 250, 0.425);
}

#left-side p {
    color: white;
}

#left-side h1 {
    color: Orange;
}

/* Middle */

#middle {
    width: 10%;
}

/* Right Side */

#right-side {
    width: 45%;
    background: rgba(250, 199, 89, 0.425);
}
